
h1{
	color: #DAA520;
	margin-left: 20px;
	font-size: 26;;
}

body{
	background-color: #F0FFFF;
}
/*
The base screen dimensions are 800*480 pixels
*/
#largeName{
	width: 100%;
	height: 35%;
	font-size: 250%;
	background-color: #FFFAFA;
}

#SecondRow{
	width: 100%;
	height: 35%;
	background-color: #FDF5E6;
}

#nameList{
	width: 50%;
	background-color: aqua;
}

#logo{
	width: 50%;
	background-color: blue;
}